.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarMemu {
    margin-bottom: 0px;
}

.sidebarTitle {
    font-size: 30px;
    color: #555;
    margin: 0;
}
.sidebarList {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
}

.icon {
    font-size: 25px !important;
    margin-right: 10px;
}

.sidebarListItem.active,
sidebarListItem:hover {
    background-color: rgb(189, 171, 171);
}
