.App {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    margin-top: 10px;
}

.others {
    flex: 4;
    background-color: red;
}
